@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {
    background-color: #ecee81;
  }
  10% {
    background-color: #8ddfcb;
  }
  20% {
    background-color: #ffa1f5;
  }
  30% {
    background-color: #f8ff95;
  }
  40% {
    background-color: #bc7af9;
  }
  50% {
    background-color: #a6ff96;
  }
  60% {
    background-color: #fbf0b2;
  }
  70% {
    background-color: #ffc7ea;
  }
  80% {
    background-color: #82a0d8;
  }
  90% {
    background-color: #d8b4f8;
  }
  100% {
    background-color: #caedff;
  }
}
